@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');
body
{
    background-image: url(../img/geometric.png);
}

.card-header
{
    margin-top: 10px;
}
 .card-header h2
 {
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 900;
    display: inline;
 }

 .card-header h4
 {
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 900;
    display: inline;
 }

 .header_two{
    margin-top:5px;
    margin-bottom: 30px;
    background-color: #dfe1eb;
    border-radius: 5px;
}

.header_two h5{
    font-family: 'Baloo Paaji 2', cursive;
    padding: 0;
    font-weight: bold;
    margin-left: 5px;
    display: inline;
}

.header_two h5 img{
    margin-right: 10px;
}

